*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
/*header*/

header {
  background-color: black;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 60px;
  margin-left:50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: red;
}

.search1{
  width: 330px;
  float:left;
  margin-left: 270px;
}

.search2{
  font-family: Arial, Helvetica, sans-serif;
  height: 30px;
  width:200px;
  background: transparent;
  border: 1 px solid brown;
  margin-top: 13px;
  color:azure;
  border-right: none;
  font-size: 16px;
  float:left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.search3{
  width: 10px;
  height: 30px;
  background: brown;
  border: 2px solid brown;
  margin-top: 14px;
  color: whitesmoke;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search2:focus{
  outline: none;
}

.hero {
  background-image: url("img1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;


  text-align: left;
  color: whitesmoke;
}

.hero-content {
  max-width: 600px;
  padding: 20px;
  margin-top :50px;
  margin-left: 4%;
  
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 24px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  background-color: red;
  color: whitesmoke;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: red;
}

/* Footer*/

.footer {
  background-color: black;
  padding: 40px 0;
  color: whitesmoke;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.footer-links a {
  color: whitesmoke;
  margin: 0 10px;
  text-decoration: none;
}

.footer-text {
  font-size: 14px;
}
